<style>
    .table{
        width: 1200px;
        margin: 20px auto;
    }
</style>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Comentário</th>
        </tr>
    </thead>

    <tbody>
        {{#each vetor}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{body}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

